.heading {
  font-size: 2em;
}
.caption {
  color: var(--Cool-gray);
  font-size: 14px;
  padding: 15px 0;

}

/* controls */
.control {
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
}
.next {

  background: var(--Purplish-blue);

  color: var(--White);

}
.prev{
  background: var(--White);
  color: var(--Cool-gray);

}
.btn{
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer ;
   padding: 10px 20px;
  width: 120px;
  height: 50px;
  font-size: 16px;

}
@media (max-width: 900px) {
    .control{
        position: absolute;
bottom: 0;
right: 0;
left: 0;
width: 100%;
background: #fff;
padding: 20px;
    }
}