

@import url("./consts.css");

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Ubuntu',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
     color: var(--Marine-blue);
}
body{
     background-color:#eef5ff;
     background:var(--Magnolia);
}

/* */

button{
     background:#fff;
     border: none;
     outline: none;
}
.bold{
     font-weight: 700;
     
}
.muted{
     color: var(--Cool-gray);
}
.column{
     display: flex;
     flex-flow: column;
     justify-content: space-between;
}.sm{
     font-size: 12px;
}
.form_container{
     min-height: 481px ;
}.flex{
     display: flex;
     
}.spaced__between{
     justify-content: space-between;
}.centered{
     justify-content: center;
     align-items: center;
}
.center_x{
     align-items: center;

}
.boxes{
     display: block;
     position: absolute;
     top: 0;
     bottom: 0;
     right:0;
     left: 0;
     cursor: pointer;
     width: 100%;
     height: 100%;
     opacity: 0;
     z-index: 20000;
}
.pt-5{
     padding-top: 5px;
}
.pt-10{
     padding: 10px 0;
}
.purple{
     color: var(--Purplish-blue);
     text-align: end;
}
.bordered{
     border-color: var(--Purplish-blue) !important;
    background: var(--Alabaster);

}
.py-10-20{
     padding:10px 0 20px 0;
}
.lh-25{
     line-height: 25px;
}.txt-c{
     text-align: center ;
}
.danger-border{
     border-color: var(--Strawberry-red) !important;
}.danger-text{
     color: var(--Strawberry-red) !important;
  
}.faded{
     opacity: 0;
     transition: 0.5s;
}
.disabled-btn{
     background: var(--Marine-blue) !important;
}

@media (max-width: 900px) {
     h3{
          font-size: 16px;
     }
     .al-sm-end{
          align-items: end;
     }
}